.actions {
    display: flex;
    align-items: center;
}

.actions__header {
    margin: 0 20px 0 0;
    padding: 0;

    font-size: 150%;
    font-weight: normal;
}

.actions__buttons {
    display: flex;
    align-items: center;

    .button {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}

@media #{$lessThan_MPoint} {
    .actions {
        flex-wrap: wrap;
        justify-content: center;
    }

    .actions__header {
        width: 100%;
        text-align: center;
    }

    .actions__buttons {
        width: 100%;
        margin-top: 10px;
        justify-content: space-between;

        .button {
            flex: 1;
        }
    }
}

@media #{$lessThan_SPoint} {
    .actions__buttons {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        .button {
            margin-bottom: 10px;
            margin-right: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
