.table {
	min-width: 500px;
	display: table;
	border-spacing: 0;

    thead {
        background-color: #f8f8f8;

        * {
            font-weight: normal;
            text-align: left;
        }

        th {
            white-space: nowrap;
        }
    }

    th,
    td {
        padding: 20px 10px;

        &:first-child {
            padding-left: 30px;
        }
    }

    tbody {
        tr {
            &:hover {
                background-color: #f8f8f8;
            }
        }
        td {
            font-size: 90%;

            border-bottom: solid 1px #d5dfe4;

            &:last-child {
                padding-right: 30px;
            }
        }
    }
}

.table__format-cell {
    width: 25%;
}

.table__format {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 100%;

    img {
        width: 29px;
        height: 29px;
    }

    span {
        margin-left: 9px;
        flex: 1;
    }
}

@media #{$lessThan_MPoint} {
    .table {
        th,
        td {
            padding: 15px 10px;

            &:first-child {
                padding-left: 10px;
            }
        }

        tbody {
            td {
                &:last-child {
                    padding-right: 10px;
                }
            }
        }
    }
}
