.wrapper__header {
    position: fixed;

    z-index: 100;
    top: 0;
    left: 0;

    height: $headerNavBarHeight;
}

.wrapper__actions {
    margin-top: $headerNavBarHeight + 30px;
}

.wrapper__main {
    margin: 26px 0 80px 0;
}

@media #{$lessThan_SPoint} {
    .wrapper__header {
        position: relative;
        height: auto;
        padding: 5px 0;
    }

    .wrapper__actions {
        margin-top: 20px;
    }

    .wrapper__main {
        margin: 20px 0 50px 0;
    }
}
