.navbar {
    display: flex;
    align-items: center;

    padding: 0;
}

.navbar__link {
    display: block;

    padding: 0;
    margin-right: 25px;

    * {
        vertical-align: middle;
        color: $subFontColor;

        &:hover {
            color: darken($color: $subFontColor, $amount: 20%);
        }
    }

    :last-child {
        margin-right: 0;
    }

    a {
        display: inline-block;
        width: 100%;
    }
}

@media #{$lessThan_SPoint} {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }

    .navbar__link {
        padding: 3px 0;
        margin: 3px 0;
        border-bottom: solid 1px #eeeeee;
    }
}
